<div class="container">
<h1>This is your instance of Article</h1>
<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to 'Back to list of articles', articles_path %>
<%= link_to 'Create a new article', new_article_path %>
</div>
